@page "/NnMgmtBilling/Configuration/BillingContract"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Necnat.Abp.NnLibCommon.Blazor.Pages
@using Necnat.Abp.NnLibCommon.Localization
@using Necnat.Abp.NnMgmtBilling.Blazor.Components
@using Necnat.Abp.NnMgmtBilling.Domains
@using Necnat.Abp.NnMgmtBilling.Localization
@using Necnat.Abp.NnMgmtBilling.Permissions
@using System.Collections.ObjectModel
@using Volo.Abp
@using Volo.Abp.Application.Dtos
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.Identity
@attribute [Authorize(NnMgmtBillingPermissions.PrmBillingContract.Default)]
@inherits NecnatCuPageBase<IBillingContractAppService, BillingContractDto, Guid, BillingContractResultRequestDto>
@inject IStringLocalizer<NnLibCommonResource> NL
@inject IBillingContractAppService AppService

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@NL["New"] @L["Contract"]</h2>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <Fields>
            <Validations @ref="@CreateValidationsRef" Model="@Entity" ValidateOnLoad="true">
                <BillingContractWrapper @bind-Entity="Entity" />
            </Validations>
        </Fields>
        <br />
        <h3>@L["SKUs"]</h3>
        <Fields>
            <SkuDetailedObservableAutocomplete HistoryTime="Entity.SkuReferenceTime" @bind-SelectedEntityDtoList="_skuList" />
        </Fields>
        <br />
        <br />
        <Fields>
            <Field ColumnSize="ColumnSize.Is12">
                <Button Class="float-start" Color="Color.Secondary" Clicked="GoBackPage">@NL["Cancel"]</Button>
                <Button Class="float-end" Color="Color.Primary" Clicked="SaveEntityAsync">@NL["Save"]</Button>
            </Field>
        </Fields>
    </CardBody>
</Card>

@namespace Necnat.Abp.NnMgmtBilling.Blazor.Pages
@code
{
    protected ObservableCollection<SkuDto> _skuList = new ObservableCollection<SkuDto>();

    public BillingContractCu() // Constructor
    {
        LocalizationResource = typeof(NnMgmtBillingResource);

        CreatePolicyName = NnMgmtBillingPermissions.PrmBillingContract.Create;
        UpdatePolicyName = NnMgmtBillingPermissions.PrmBillingContract.Update;
    }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override BillingContractDto InitializeCreateUpdateViewModel()
    {
        return new BillingContractDto { SkuReferenceTime = DateTime.Now, IsActive = true };
    }

}