@page "/NnMgmtBilling/Configuration/BillingContracts"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Necnat.Abp.NnLibCommon.Blazor.Pages
@using Necnat.Abp.NnLibCommon.Localization
@using Necnat.Abp.NnMgmtBilling.Domains
@using Necnat.Abp.NnMgmtBilling.Localization
@using Necnat.Abp.NnMgmtBilling.Permissions
@using System.Collections.ObjectModel
@using Volo.Abp
@using Volo.Abp.Application.Dtos
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.Identity
@attribute [Authorize(NnMgmtBillingPermissions.PrmBillingContract.Default)]
@inherits NecnatRdPageBase<IBillingContractAppService, BillingContractDto, Guid, BillingContractResultRequestDto>
@inject IStringLocalizer<NnLibCommonResource> NL
@inject IBillingContractAppService AppService
@inject NavigationManager NavigationManager

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["Contracts"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                @if (HasCreatePermission)
                {
                    <Button Color="Color.Primary"
                            Clicked="OpenCreatePageAsync">
                        @NL["New"]
                    </Button>
                }
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="BillingContractDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  CurrentPage="CurrentPage"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="BillingContractDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="BillingContractDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="BillingContractDto"
                                          Text="@NL["Copy"]"
                                          Visible=HasUpdatePermission
                                          Clicked="() => OpenEditPageAsync(context)" />
                            <EntityAction TItem="BillingContractDto"
                                          Text="@NL["Delete"]"
                                          Visible=HasDeletePermission
                                          Clicked="() => DeleteEntityAsync(context)"
                                          ConfirmationMessage="()=>GetDeleteConfirmationMessage(context)" />
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
                <DataGridColumn TItem="BillingContractDto"
                                Field="@nameof(BillingContractDto.Code)"
                                Caption="@L[BillingContractConsts.CodeDisplay]"></DataGridColumn>
                <DataGridCheckColumn TItem="BillingContractDto"
                                     Field="@nameof(BillingContractDto.IsActive)"
                                     Caption="@L[BillingContractConsts.IsActiveDisplay]"></DataGridCheckColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

@namespace Necnat.Abp.NnMgmtBilling.Blazor.Pages
@code
{
    public BillingContractRd() // Constructor
    {
        LocalizationResource = typeof(NnMgmtBillingResource);

        ListingPageUri = "/NnMgmtBilling/Configuration/BillingContracts";
        CreatePageUri = "/NnMgmtBilling/Configuration/BillingContract";
        UpdatePageUri = "/NnMgmtBilling/Configuration/BillingContract";

        CreatePolicyName = NnMgmtBillingPermissions.PrmBillingContract.Create;
        UpdatePolicyName = NnMgmtBillingPermissions.PrmBillingContract.Update;
        DeletePolicyName = NnMgmtBillingPermissions.PrmBillingContract.Delete;
    }

}