@using Blazorise.Components
@using Microsoft.Extensions.Localization;
@using Necnat.Abp.NnLibCommon.Blazor.Components
@using Necnat.Abp.NnLibCommon.Blazor.Extensions
@using Necnat.Abp.NnLibCommon.Localization
@using Necnat.Abp.NnMgmtBilling.Domains
@using Necnat.Abp.NnMgmtBilling.Localization
@using System.Collections.ObjectModel
@using Volo.Abp.AspNetCore.Components
@using Volo.Abp.Identity
@inherits SelectListComponent<IBillingClientAppService, BillingClientDto, Guid, BillingClientResultRequestDto>
@inject IStringLocalizer<NnLibCommonResource> NL

@if (IsLoading)
{
    <div class="animated-background loading-input-height"></div>
}
else
{
    <SelectList TItem="BillingClientDto"
                TValue="Guid?"
                Data="@Data"
                TextField="@((item)=>item.DisplayName)"
                ValueField="@((item)=>item.Id)"
                SelectedValue="@_internalSelectedValue"
                SelectedValueChanged="@OnSelectedValueChangedAsync"
                DefaultItemText="@NL["Select..."]"
                DefaultItemValue="Guid.Empty" />
}

@namespace Necnat.Abp.NnMgmtBilling.Blazor.Components
@code {

    public BillingClientSelectList()
    {
        LocalizationResource = typeof(NnMgmtBillingResource);
    }

}